body
{
	font-family: Helvetica, Arial;
	font-size: 10pt;
	background-color: #2d2d2d;
	background-image: url(../images/background.png);
	color: #fefefe;
	margin: 0;
	padding: 0;
}

a
{
	color: #0ac1ff;
}

hr
{
	border: none;
	height: 2px;
	background-color: #444;
	margin: 6px 0 6px 0;
}

#wrapFullPage
{
	width: 100%;
	min-height: 800px;
	background-image: url(../images/grad.png);
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#content
{
	width: 960px;
	margin: 0 auto;
}

#wrapBuilder
{
	background-color: #444;
	width: 960px;
	margin: 0;
	padding: 10px;
	overflow: auto;
}

#colLeft, #colMid, #colRight
{
	background-color: #333;
	display: inline-block;
	float: left;
}

.the300
{
	min-height: 410px;
	width: 280px;
	margin: 10px;
	padding: 10px;
}

/* CLASS WRAPPER */
#wrapClass label
{
	width: 174px;
}

#class
{
	width: 96px;
}

/* Row Label */
label
{
	display: inline-block;
	width: 180px;
}


.right
{
	float: right;
}

/* Input Stuff */
.stat
{
	height: 28px;
}



.start
{
	color: #666;
	font-family: tahoma;
	font-size: 10pt;
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 20px;
	background: #333;
	border: 1px solid #383838;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.current, .total
{
	color: #fff;
	font-family: tahoma;
	font-size: 10pt;
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 20px;
	background: #121212;
	border: 1px solid #3d3d3d;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}


/* Add & Subtract Buttons */
.statShift
{

	position: absolute;
	margin-left: 272px;
}
.add, .subtract
{
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

.add
{
	
	background-image: url(../images/add.png);
	top: 2px;
	margin-left: -8px;
}

.subtract
{
	background-image: url(../images/subtract.png);
}


.conversion
{
	float: right;
}

/* calc */
#calc
{
	margin-top: 12px;
}
#calc > div, #calc > input
{
	width: 120px;
	vertical-align: top;
}

/* Input Headers */
.stattitles
{
	height: 18px;
}
.title
{
	font-family: verdana;
	display: inline-block;
	background: transparent;
	border: none;
	font-size: 6pt;
	text-align: center;
	width: 42px;
}

#soultitles
{
	float: right;
}

/* Main Header */
#header
{
	padding-top: 20px;
	margin: 0 auto;
	width: 500px;
}


/* Main Footer */
#footer
{
	margin: 0 auto;
	width: 600px;
}



/* TEMPLATE CODE */
#wrapCode
{
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}

#templateCode
{
	border: 1px solid #555;
	background: #222;
	color: #aaa;
	width: 500px;
}


/* DISABLED */
#stamina, #equipload, #poise, #bleedresist, #poisonresist, #curseresist
{
	color: #444;
}

#stamina input, #equipload input, #poise  input, #bleedresist input, #poisonresist input, #curseresist input
{
	background-color: #333;
}




