<!DOCTYPE html>
<html>
<head>
  <title>Dark Souls Character Builder</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="/js/jquery.base64.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" title="default" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%= csrf_meta_tags %>

  <%- if Rails.env.production? -%>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6677889-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <%- end -%>

</head>
<body>

  <div id="wrapFullPage">
    <div id="content">
      <div id="header">
        <img src="/images/logo.png" />
        <p style="text-align: center">Development Release 0.41d <br />
          [ 10/19/2011 UPDATED - BUG FIX ]</p>
      </div>

      <%= yield %>

    </div>
  </div>


</body>
</html>
